<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All listings</title>
</head>
<body>
<ul>
    <form method="GET" action="/listings/new">
        <button type="submit">Add New Listing</button>
    </form>
    <h1>All Listings</h1>

    <%for(let listing of allListing) { %>
        <div>
            <a href="/listings/<%= listing._id %>"><%= listing.title %></a>
          
        </div>
        <% } %>
</ul>
</body>
</html>